* {
  font-family: Arial, Helvetica, sans-serif;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px 12px;
}

thead tr {
  background-color: darkblue;
  color: skyblue;
}

tbody tr:nth-child(even) {
  background-color: skyblue;
}
